.search__input {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw; /* 75% of screen */
    margin: 0 auto; /* centres horizontally */
    margin-top: 40px; /* not right under google icon */
    max-width: 560px;
}

.search__input > input {
    flex: 1;
    padding: 10px 20px;
    font-size: medium;
    border: none; /* so rectangular box goes */
}

.search__input > input:focus {
    outline-width: 0; /* when clicked the rectangular box goes */
}

.search__inputIcon {
    color: gray;
}

.search__buttons {
    margin-top: 30px; /* so not right under search bar */
    display: flex; /* right next to each other */
    justify-content: center; /* centres it so not on the LHS */
}

.search__buttons button {
    margin: 5px; 
    padding: 7px 15px; /* space between the buttons */
    background-color: #f8f8f8;
    border: 1px solid white;
    text-transform: inherit; /* doesnt make everything capital letters */
    color: #5f6368;
}

.search__buttons button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.search__buttonsHidden {
    display: none !important;
}